*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.metro__images{
    display: flex;
    justify-content: center;
}
.metro__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.metro__logo{
    width: 200px;
    aspect-ratio: 1/1;
}
.button__primary{
    font-size: 16px;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    cursor:pointer;
}
.button__primary:hover{
    background-color: rgb(32, 31, 31);
}
.badge{
    font-size: 16px;
    padding-inline: 0.25rem;
    background-color: gray;
    color: white;
    border-radius: 9999px;
}
.metro__info-label{
    margin-bottom: 0.5rem;
}
.hidden{
    display: none;
}